In [4]:
import sqlite3
connection = sqlite3.connect('./vivino.db')
cursor = connection.cursor()

in `most used grapes per country` i can see top 12 country(code) used grape id :2 and wine count:801751
* these are list of country codes

In [2]:
query1 = """SELECT grapes.name, grapes.id , most_used_grapes_per_country.country_code
            FROM grapes 
            JOIN most_used_grapes_per_country ON grapes.id = most_used_grapes_per_country.grape_id       
Group BY wines_count
ORDER BY wines_count DESC
LIMIT 3"""

for x in cursor.execute(query1):
        print({'grapes':x[0], 'grape_id':x[1], 'country_code': x[2]})

{'grapes': 'Cabernet Sauvignon', 'grape_id': 2, 'country_code': 'hr'}
{'grapes': 'Chardonnay', 'grape_id': 5, 'country_code': 'ar'}
{'grapes': 'Pinot Noir', 'grape_id': 14, 'country_code': 'ch'}

In [14]:
'''q = "DROP TABLE Cabernet_Sauvignon"
cursor.execute(q)
connection.commit()'''

In [15]:
q = '''CREATE TABLE Cabernet_Sauvignon AS
       SELECT wines.name, wines.ratings_average
       FROM wines
       WHERE name LIKE '%Cabernet Sauvignon%' '''
cursor.execute(q)

In [5]:
q = '''CREATE TABLE Chardonnay AS
       SELECT wines.name, wines.ratings_average
       FROM wines
       WHERE name LIKE '%Chardonnay%' '''
cursor.execute(q)

In [6]:
q = '''CREATE TABLE Pinot_Noir AS
       SELECT wines.name, wines.ratings_average
       FROM wines
       WHERE name LIKE '%Pinot Noir%' '''
cursor.execute(q)

In [16]:
connection.commit()

In [17]:
q = '''INSERT INTO Cabernet_Sauvignon
       SELECT vintages.name, vintages.ratings_average
       FROM vintages
       WHERE name LIKE '%Cabernet Sauvignon%' '''
cursor.execute(q)

In [11]:
q = '''INSERT INTO Chardonnay
       SELECT vintages.name, vintages.ratings_average
       FROM vintages
       WHERE name LIKE '%Chardonnay%' '''
cursor.execute(q)

In [12]:
q = '''INSERT INTO Pinot_Noir
       SELECT vintages.name, vintages.ratings_average
       FROM vintages
       WHERE name LIKE '%Pinot Noir%' '''
cursor.execute(q)

In [18]:
connection.commit()

In [24]:
q = '''SELECT name 
       FROM Cabernet_Sauvignon
       ORDER BY ratings_average DESC
       LIMIT 5'''

print("top 5 wines from the grape 'Cabernet Sauvignon' :\n")
for x in cursor.execute(q):
    print(x[0])

top 5 wines from the grape 'Cabernet Sauvignon' :

Cabernet Sauvignon
Scarecrow Cabernet Sauvignon 2015
Special Selection Cabernet Sauvignon
Leonetti Cabernet Sauvignon 2006
Caymus Special Selection Cabernet Sauvignon 2017

In [25]:
q = '''SELECT name 
       FROM Chardonnay
       ORDER BY ratings_average DESC
       LIMIT 5'''

print("top 5 wines from the grape 'Chardonnay' :\n")
for x in cursor.execute(q):
    print(x[0])

top 5 wines from the grape 'Chardonnay' :

Chloe Chardonnay
Reserve Chardonnay
Bentrock Vineyard Chardonnay
Capensis Chardonnay 2016
Capensis Chardonnay 2017

In [26]:
q = '''SELECT name 
       FROM Pinot_Noir
       ORDER BY ratings_average DESC
       LIMIT 5'''

print("top 5 wines from the grape 'Pinot Noir' :\n")
for x in cursor.execute(q):
    print(x[0])

top 5 wines from the grape 'Pinot Noir' :

Finn Pinot Noir
Grace Vineyard Pinot Noir
Mark Bradford Vineyard Pinot Noir
Alpine Hillside Pinot Noir
Chacra Treinta y Dos Pinot Noir 2019